
.nav-links{
    background-color: rgb(183, 117, 246);
    color: white;
    max-height: max-content;
}
.nav-links ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}
.nav-links ul:hover{
    color: black;
    background-color: blueviolet;
}
.nav-links ul li:hover{
    color: black;
    background-color: rgb(183, 117, 246);
}
a{
    text-decoration: none;
    color: white;
}
