<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Clientes</title>

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
  <!-- custom style
    <link rel="stylesheet" th:href="@{/css/main.css}"/> -->

  <link rel="stylesheet" th:href="@{/css/clientes.css}"/>

</head>

<body>
    <nav class="nav-links">
        <ul>
            <li><a href="#">Mis rutinas</a></li>
            <li><a href="#">Historial de rutinas</a></li>
            <li><a href="#">Turnos médicos</a></li>
            <li><a href="#">Dietas</a></li>
            <li><a href="#">Solicitar Turnos</a></li>
            <li><a href="#">Cuotas</a></li>
        </ul>
    </nav>

</body>
</html>
